

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Gilroy";
}


html, body{
    height: 100vh;
    width: 100%;
}



body{
    display: flex;
    align-items: center;
    justify-content: center;
}


.container{
    border-radius: 10px;
    height: 150px;
    width: 400px;
    border: 3px solid white;
    text-align: center;
    padding: 2vw; 

}

#color-flipper-text{
    color: #fff5f5;
    font-size: 3vw;
    font-weight: 800;
    margin-bottom: 15px;
}



.btn-hero {
    font-family: "Gilroy";
    text-transform: uppercase;
    background: transparent;
    color: #000000;
    letter-spacing: 0.1rem;
    display: inline-block;
    font-weight: 700;
    transition: all 0.2s linear;
    border: 2px solid #222;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    border-radius: 0.25rem;
    font-size: 1vw;
    padding: 0.75rem 1.25rem;
  }

  .btn-hero:hover {
    color: #fff;
    background: #222;
  }